<div class="jumbotron">
  <h1 class="display-3">Mean Auth</h1>
  <p class="lead">Practice Practice</p>
  <hr class="my-2">
  <p>More info</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/login']">Login</a>
    <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/register']">Register</a>
  </p>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Express Backend</h3>
    <p>Backend!</p>
  </div>
  <div class="col-md-4">
    <h3>Angular2</h3>
    <p>Front End</p>
  </div>
  <div class="col-md-4">
    <h3>JWT</h3>
    <p>Web Tokens!</p>
  </div>
</div>